# Visual Studio
.vs/
*.user
*.suo
*.cache
*.pdb
*.dbmdl
*.jfm

# Build outputs
bin/
obj/
*.exe
*.dll
*.log
*.pdb

# Package directories
packages/
*.nupkg
project.lock.json
project.assets.json
*.nuspec

# Rider / JetBrains
.idea/
*.sln.iml

# OS-specific
Thumbs.db
Desktop.ini
.DS_Store